/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;
}

button, summary {
	cursor: pointer;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#333333;
	--color-bg-grey:#F3F3F3;
  --color-bg-greyer:#CECECE;
  --color-bg-white:#F8FCFC;
  --color-bg-black:#1C1C1C;
  --color-brand:#009900;
  --color-focus:#009900;
  --color-hover:#009900;
  --color-blue:#4496F8;
  --color-white:#F8FCFC;
}





/****************/
/* JOUW STYLING */
/****************/

/* body */
h1,h2,h3,h4,h5,a,p {
  font-family:"Segoe UI", sans-serif;
}

h2,h3 {
  color: var(--color-brand);
}

li {
  list-style-type: none;
}

body {
  color:var(--color-text);
  background-color:var(--color-bg-grey);
}

a{
  text-decoration:none;
  color:var(--color-text);
}

.sr-only {
  position: fixed;
  left:-9999em;
}

section{
  margin-top: 2em;
}

/******************/
    /* main */
/******************/


/****************/
  /* section 1 */
/****************/

main section:nth-of-type(1){
  background-image: url("../images/backgroundkpn.png");
  height: 20em;
  margin-top: 0;
  background-repeat: no-repeat;
  background-size: cover;
}

main section:nth-of-type(1) h2{
  margin: 0.5em;
}

main section:nth-of-type(1) > div{
  display: flex;
  justify-content: space-between;
  gap: 1.5em;
  flex-direction: column;
  max-width: 55em;
  margin: 0 auto;
  height: 100%;
}

main section:not(:nth-of-type(1)){
  max-width: 55em;
  margin: 0 auto;
  height: 100%;
}

main section:nth-of-type(1) div div{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:0.5em;
  width: 80%;
  flex-wrap: wrap;
  margin: 0 auto;
}

main section:nth-of-type(1) a:nth-of-type(1){
  background-color: var(--color-blue);
  color: var(--color-bg-white);
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  width: 10em;
  border-radius: 2em;
}

main section:nth-of-type(1) a:nth-of-type(2){
  display: flex;
  flex-direction: row;
  background-color: var(--color-bg-white) ;
  color: var(--color-blue);
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  width: 12em;
  border-radius: 2em;
}

main section:nth-of-type(1) p{
  color: var(--color-brand);
  font-size: 0.8em;
  text-align: center;
}

/****************/
  /* section 3 */
/****************/

main section:nth-of-type(3) ul{
  display: grid;
  padding: 0;
  grid-template-columns: 1fr 1fr;
  gap: 0.5em;
}


main section:nth-of-type(3) a{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1em;
  min-height: 8em;
  background-color: var(--color-bg-white);
  border-radius: 0.3em;
  box-shadow: 1px 1px 1px 1px var(--color-bg-greyer);
  color: var(--color-brand);
  font-size: 1.3em;

}

main section:nth-of-type(3) a:hover{
  background-color: var(--color-brand);
  color: var(--color-white)
}


/* section 4 */

main section:nth-of-type(4) ul{
  display: flex;
  overflow: scroll;
  scroll-snap-type: x mandatory;
  gap: 1em;
  padding: 0.6em;
}

main section:nth-of-type(4) ul img{
  height: 15em;
  width: auto;
  order: -1;
}

main section:nth-of-type(4) ul li{
  height: 22em;
  display: flex;
  flex-direction: column;
  scroll-snap-align: center;
}

main section:nth-of-type(4) ul li a{
  font-weight: bold;
}

main section:nth-of-type(4) ul li a:hover{
  color: var(--color-blue);
}


main section:nth-of-type(4) a:nth-of-type(1){
  background-color: var(--color-blue);
  color: var(--color-bg-white);
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  width: 10em;
  border-radius: 2em;
}

main section:nth-of-type(4) a:nth-of-type(2){
  display: flex;
  flex-direction: row;
  background-color: var(--color-bg-white) ;
  color: var(--color-blue);
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  width: 12em;
  border-radius: 2em;
}
